body {
  margin: 0;
  display: flex;
}



/* section image-content --------------------------------- */

#image-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}
#bakery-image {
  /* image responsive */
  width: 100%;
  height: auto;
}
#brand {
  background-color: thistle;
  height: 100%;
}
#brand-name {
  font-family: 'Carattere', cursive;
  font-weight: 900;
  font-size: 70px;
  text-align: center;
}
#phrase {
  font-family: 'Carattere', cursive;
  font-weight: 300;
  font-size: 36px;
  text-align: center;
}
#transparent {
  background-color: rgba(255, 255, 255, 0.15);
  text-align: center;
  width: 60%;
  margin: auto;
  font-family: 'Oswald', sans-serif;
  font-weight: 200;
  padding: 5%;
  border-radius: 4%;
}
/* -------------------------------------------------------------- */




/* section bakery-content------------------------------------------------ */
#title,
#description {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  padding: 0 20%;
}
#survey-form {
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 5% 20% 5% 20%;
  margin: auto;
}
fieldset {
  display: flex;
  flex-direction: column;
  border-color: transparent;
}
#bakery-content {
  margin: auto;
  font-family: 'Oswald', sans-serif;
  background-color: #f8d4da;
  width: 100%;
  height: auto;
}

/* input,dropdown and textarea label--- */
#name-label,
#email-label,
#number-label,
#dropdown-label,
#checkbox-label,
#radio-label,
#textarea-label {
  padding: 7px 0;
}
/* -------------- */

/* input and dropdown */
#name,
#email,
#number,
#dropdown,
#textarea {
  padding: 7px 0;
  box-shadow: 1px 1px rgba(248, 202, 210, 0.23) inset;
  border-color: transparent;
}
/* ------- */

/* radio and checkbox input */
input[type='radio'],
input[type='checkbox'] {
  padding: 25px;
}
/* ------------ */

/* submit button--------------- */
#submit {
  width: 30%;
  height: 50px;
  margin: 10px 0 10px auto;
  border-radius: 5px;
  border-color: transparent;
  box-shadow: 0 10px 8px rgba(0, 0, 0, 0.2);
  background-color: rgb(0, 128, 128);
  cursor: pointer;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
}
#submit:hover {
  background-color: #d86ad8;
}
/*------------------ */


/* ------------------------------------------------------------------ */